<%-include('includes/head.ejs')%>

<link rel="stylesheet" href="/css/404.css" />
<body>
  <%-include('includes/navigation.ejs')%>
  <div class="center">
    <h1>404 - Page Not Found</h1>
    <p>The page you're looking for does not exist.</p>
  </div>
  <%-include('includes/end.ejs')%>
</body>
