<%-include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/users.css" />
<body>
  <%-include('includes/navigation.ejs')%>
  <div class="container">
    <% if (users.length > 0) { %>
    <ul class="user-list" id="userList">
      <% for (let user of users) { %>
      <li><%= user.title %></li>
      <!-- Adjust according to your user object -->
      <% } %>
    </ul>
    <% } else { %>
    <h1>No users found</h1>
    <% } %>
  </div>
  <%-include('includes/end.ejs')%>
</body>
