<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%=docTitle%></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/users.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="active">Users</a>
      <a href="/admin/add-users">Add User</a>
    </nav>

    <div class="container">
      <h1>No users found</h1>
      <ul class="user-list" id="userList">
        <!-- Future users will appear here -->
      </ul>
    </div>
  </body>
</html>
